# Web scraping with Selenium library

In [1]:
# importing important library
import selenium
import pandas as pd
from selenium import webdriver
import time

#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.

In [2]:
# automating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/") # opening th site

# automatic the search 
user_input = input("what do you want to search : ")
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.clear() # ensuring the search bar is clear 
search_job.send_keys(user_input) # sending input to search bar
time.sleep(4) # after search code will stop for 4 sec


# Automatic job_loc 

enter_loc = input("Enter the location :- ")
job_loc = driver.find_element_by_id("qsb-location-sugg")
job_loc.clear() # ensuring the search bar is clear 
job_loc.send_keys(enter_loc)
time.sleep(4) # after search code will stop for 4 sec

# automating submit button

submit_but = driver.find_element_by_xpath("//button[@class = 'btn']")
submit_but.click()
time.sleep(4)


# Extracting the job_title
job_title = driver.find_elements_by_xpath("//a [@class ='title fw500 ellipsis']")
title = [title.text for title in job_title]
time.sleep(4)

# extracting job location
location = driver.find_elements_by_xpath("// li [@class = 'fleft grey-text br2 placeHolderLi location']/span")

job_location = [loc.text for loc in location]
time.sleep(4)

# extracting company name

company = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
company_name = [name.text for name in company]
time.sleep(4)
# Extracting experiance 

experiance = driver.find_elements_by_xpath("// li[@class = 'fleft grey-text br2 placeHolderLi experience']/span")

exp_required = [exp.text for exp in experiance]
time.sleep(4)


# printing len of the data 
print("exp_required",len(exp_required))
print("company_name",len(company_name))
print("job_location",len(job_location))
print("title",len(title))

what do you want to search : Data Analyst
Enter the location :- Bangalore
exp_required 20
company_name 20
job_location 20
title 20

In [3]:
data_analytic_jobs = pd.DataFrame({"title":title[0:10],"job_location":job_location[0:10],"company_name":company_name[0:10],"exp_required":exp_required[0:10]})
data_analytic_jobs.head()

,title,job_location,company_name,exp_required
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
1,Hiring Data Analysts For E commerce Platform |...,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-5 Yrs
2,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
3,Hiring For Data Analyst/ MIS Reporting Analyst...,Bangalore/Bengaluru,PHARMACEUTICAL RESEARCH ASSOCIATES INDIA Pvt Ltd,2-4 Yrs
4,DA - Urgent Opening For Data Analyst BFSI Doma...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Tata Consultancy Services Ltd.,4-9 Yrs

#### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data.

In [44]:
# automating the chrome browser
driver = webdriver.Chrome("chromedriver.exe")

# opening site
driver.get("https://www.naukri.com/") # opening th site

# Automating search bar
user_input = input("What do you want to search ")
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.clear()
search_job.send_keys(user_input)
time.sleep(3)


# Automating search bar_location
locaton_input = input("Please mention the location  ")
search_loc = driver.find_element_by_id("qsb-location-sugg")
search_loc.clear()
search_loc.send_keys(locaton_input)
time.sleep(3)


# automating submit button 

submit  = driver.find_element_by_xpath("//button[@class = 'btn']")
submit.click()
time.sleep(3)


# extracting job tile
# job_title = driver.find_elements_by_xpath("//a [@class ='title fw500 ellipsis']")
# title = [title.text for title in job_title]
# time.sleep(3)

# extracting job location
# location = driver.find_elements_by_xpath("// li [@class = 'fleft grey-text br2 placeHolderLi location']/span")

# job_location = [loc.text for loc in location]
# time.sleep(3)

# extracting company name

# company = driver.find_elements_by_xpath("//a[@class = 'subTitle ellipsis fleft']")
# company_name = [name.text for name in company]
# time.sleep(3)


# extracting full job description 
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

urls = [url.get_attribute("href") for url in job_title ]

description = []
title = []
location =[]
company_name =[]
for i in urls:
    driver.get(i)
    time.sleep(3)
    
    
    # title
    try:
        for j in driver.find_elements_by_xpath("//h1[@class='jd-header-title']"):
            title.append(j.text)
            time.sleep(2)
            
    except:
        title.append("__")

    
    # location  
    try:
        for k in driver.find_elements_by_xpath("//span[@class='location ']/a"):
            location.append(k.text)
            time.sleep(2)
            
    except:
        location.append("__")
        
        
#      Company name
    try:
        for l in driver.find_elements_by_xpath("//div[@class='jd-header-comp-name']/a[1]"):
            company_name.append(l.text)
            time.sleep(2)
            
    except:
        company_name.append("__")

        
    # description
    
    try:
        for m in driver.find_elements_by_xpath("//section[@class='job-desc']"):
            description.append(m.text)
            time.sleep(2)
    except:
        description.append("__")
    


# find the lenth of all variable 

print("title",len(title))
print("location",len(location))
print("company_name",len(company_name[::2]))
print("description",len(description))

What do you want to search Data scientist / machine learning
Please mention the location  Bangalore/ Bangluru
title 20
location 20
company_name 20
description 20

In [50]:
com_name = company_name[::2] # company colunm has comma as well thus  extracting only company name

In [52]:
data_sci_df = pd.DataFrame({"title":title[:10],"location":location[:10],"com_name":com_name[:10],"description":description[:10]})
data_sci_df

,title,location,com_name,description
0,Chief Data Scientist - Machine Learning/ Python,Bangalore/Bengaluru,Catalyst,Job description\nWhat you would do as a Data S...
1,Senior Data Scientist / Machine Learning / AI ...,Bangalore/Bengaluru,Bion,Job description\nLooking for a seasoned Progra...
2,Senior Data Scientist / Machine Learning / AI ...,Bangalore/Bengaluru,Bion,Job description\nLooking for a seasoned Progra...
3,Data Scientist - Machine Learning,Bangalore/Bengaluru,Catalyst,Job description\nRoles and Responsibilities\n-...
4,Chief Data Scientist - Machine Learning/ Python,Bangalore/Bengaluru,Catalyst,Job description\nChief Data Scientist - Machin...
5,Chief Data Scientist - Machine Learning/python,Bangalore/Bengaluru,Catalyst,Job description\n- Work on the data science ro...
6,Senior Scientist/nlp/machine Learning/data Mining,Bangalore/Bengaluru,Career Maker,Job description\nSenior Scientist/NLP/Machine ...
7,Senior Scientist/nlp/ Machine Learning/data Mi...,Bangalore/Bengaluru,Career Maker,Job description\nMajor responsibilities:\n\n- ...
8,Senior Scientist/nlp/ Machine Learning/ Data M...,Bangalore/Bengaluru,Career Maker,Job description\nMajor responsibilities:\n\n- ...
9,Senior Scientist/nlp/machine Learning/data Min...,Bangalore/Bengaluru,Career Maker,Job description\nMajor responsibilities:\n\n- ...

#### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [70]:
# initiazing  crome browser

driver = webdriver.Chrome("chromedriver.exe")

# Defining URls

url = "https://www.naukri.com/"

# openin URL

driver.get(url)
driver.maximize_window()

# automating search bar and find desire job
user_input = input("Enter the job name :- ")
search_bar = driver.find_element_by_id("qsb-keyword-sugg")
search_bar.clear()
search_bar.send_keys(user_input)

# Automating submit button
submit_button = driver.find_element_by_xpath('//button[@class="btn"]')
submit_button.click()
time.sleep(5)


# auotmating location filter

loc_check_box = driver.find_elements_by_xpath("//p [@class= 'grey-text lH20 fleft ml-8 txtLbl']/span")
for i in loc_check_box:
    if i.text == "Delhi / NCR":
        i.click()
        break
        
salary_check_box = driver.find_elements_by_xpath("//p[@class='grey-text lH20 fleft ml-8 txtLbl']/span")
for j in salary_check_box:
    if j.text == "3-6 Lakhs":
        j.click()
        break

# extracting title
try:
    title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
    job_title = [job.text for job in title]
except:
    job_title.append("__")
        

# extracting location

try:
    location = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")
    job_location = [loc.text for loc in location]
except:
    job_location.append("__")


# extracting company name

try:
    company = driver.find_elements_by_xpath("//a[@class ='subTitle ellipsis fleft']")
    company_name = [loc.text for loc in location]
except:
    company_name.append("__")

# extracting exp

try:
    exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")
    job_exp = [loc.text for loc in exp]
except:
    job_exp.append("__")


print(len(job_title))
print(len(location))
print(len(company_name))
print(len(job_exp))

Enter the job name :- Data scientist

In [78]:
filer_data_scientist_jobs = pd.DataFrame({"job_title":job_title[0:10],"job_location":job_location[0:10],"company_name":company_name[0:10],"job_exp":job_exp[0:10]})
filer_data_scientist_jobs.head()

,job_title,job_location,company_name,job_exp
0,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Ally -eXecutive HR Consulting Partner,0-3 Yrs
1,Data Scientist - High growth VC backed Influen...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",TALCHEMY SOLUTIONS LLP,3-5 Yrs
2,Excellent opportunity For Data Scientist,"Noida, Bangalore/Bengaluru",Confidential,3-7 Yrs
3,Data Scientist,"New Delhi, Gurgaon/Gurugram, Delhi / NCR",Platlap Solutions,3-5 Yrs
4,DATA Scientist – Gurgaon (Exp 3-6 years),"Gurgaon/Gurugram, Delhi / NCR",Vahak,3-6 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [42]:
# initiazing  crome browser
driver = webdriver.Chrome("chromedriver.exe")

# Defining URls
url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

# openin URL
driver.get(url)
driver.maximize_window() # maximizing the window

# get company_name


company = driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
company_name = [name.text for name in company]

#no of days ago job was posted 

days = driver.find_elements_by_xpath("//div[@class ='d-flex align-items-end pl-std css-mi55ob']")
job_post_days = [day.text for day in days]


# company Ratings
rating  = driver.find_elements_by_xpath("//div[@class ='d-flex flex-column css-x75kgh e1rrn5ka3']")
company_rating = [rank.text for rank in rating]


# checking the length 
print("company_name",len(company_name))
print("job_post_days",len(job_post_days))
print("company_rating",len(company_rating))

# creating Data frame
df = pd.DataFrame({"company_name":company_name[:10],"job_post_days":job_post_days[:10],"company_rating":company_rating[:10]})
df.replace("",np.nan, inplace = True)
df

company_name 30
job_post_days 30
company_rating 30

                   company_name job_post_days company_rating
0            Apsidata Solutions            4d            NaN
1                Biz2Credit Inc          30d+            3.8
2  Salasar New Age Technologies          30d+            NaN
3                         Adobe            6d            4.4
4                      Techlive          30d+            5.0
5                 NatWest Group            1d            3.9
6        Data Trained Education            1d            NaN
7                     dunnhumby           24h            4.1
8                       CRMNEXT           12d            3.6
9                      Ericsson           13d            4.1

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

In [122]:
# automating browser

driver = webdriver.Chrome("chromedriver.exe")

url = "https://www.glassdoor.co.in/Salaries/index.htm"
driver.get(url) # opening web page
driver.maximize_window()


# search Designation 

desigination = input("Enter the job title:- ")
Location  = input("Enter the job location:- ")

search_job = driver.find_element_by_id("KeywordSearch")
search_job.clear()
search_job.send_keys(desigination)
time.sleep(3)

# entering location 
search_loc = driver.find_element_by_id("LocationSearch")
search_loc.clear()
search_loc.send_keys(Location)
time.sleep(3)

# click on search button 
driver.find_element_by_id("HeroSearchButton").click()
time.sleep(2)

# extracting all the information 

required_details = driver.find_elements_by_xpath("//div[@class='row no-gutters mx-0 py align-items-center css-1u4lhyp']")
name  = [name.text.split("\n") for name in required_details]

Company_Name = []
number_of_salary = []
Average_salary = []
Min_salary = []
Max_Salary = []

for i in name:
    Company_name.append(i[1])
    number_of_salary.append(i[2])
    Average_salary.append(i[4])
    Min_salary.append(i[6])
    Max_Salary.append(i[7])

print("Company_name",len(Company_name))
print("number_of_salary",len(number_of_salary))
print("Average_salary",len(Average_salary))
print("Min_salary",len(Min_salary))
print("Max_Salary",len(Max_Salary))

Enter the job title:- Data scientist
Enter the job location:- Noida
Company_name 20
number_of_salary 20
Average_salary 20
Min_salary 20
Max_Salary 20

In [130]:
# creating Data frame
glassdoor_df = pd.DataFrame({"Company_name":Company_name[:11],"number_of_salary":number_of_salary[:11],"Average_salary":Average_salary[:11],"Min_salary":Min_salary[:11],"Max_Salary":Max_Salary[:11]})
glassdoor_df["Max_Salary"] =  glassdoor_df["Max_Salary"].map(lambda x: x.lstrip("₹").rstrip("K")) # reoving spacial char
glassdoor_df["Min_salary"] =  glassdoor_df["Min_salary"].map(lambda x: x.lstrip("₹").rstrip("K")) # reoving spacial char
glassdoor_df

,Company_name,number_of_salary,Average_salary,Min_salary,Max_Salary
0,Tata Consultancy Services,16 salaries,"₹ 6,11,228",343,"1,095"
1,Accenture,14 salaries,"₹ 11,46,533",577,"2,213"
2,IBM,14 salaries,"₹ 8,97,795",586,"2,730"
3,Ericsson-Worldwide,14 salaries,"₹ 7,38,057",355,"1,613"
4,Delhivery,14 salaries,"₹ 12,39,781",450,"11,622"
5,UnitedHealth Group,11 salaries,"₹ 13,36,142","1,069","1,520"
6,Valiance Solutions,9 salaries,"₹ 8,15,192",502,"1,465"
7,ZS Associates,8 salaries,"₹ 11,35,221",202,"1,809"
8,EXL Service,8 salaries,"₹ 11,44,243",575,"1,520"
9,Data Scientist,Optum Global Solutions,See 12 salaries from all locations,/yr,"1,014"
10,Innovaccer,8 salaries,"₹ 12,07,110",620,"1,695"

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes

In [27]:
# calling chrome browser

driver = webdriver.Chrome("chromedriver.exe")
url =  "https://www.flipkart.com/" #url of the site
driver.get(url) # opening URL
driver.maximize_window()

user_name = driver.find_element_by_xpath("//div [@class='IiD88i _351hSN']/input[@type ='text']")
user_name.send_keys(9727047686)


password = driver.find_element_by_xpath("//div[@class='IiD88i _351hSN']/input[@type='password']")
password.send_keys("1234@1234")


driver.find_element_by_xpath("//div[@class='_1D1L_j']/button[@class='_2KpZ6l _2HKlqd _3AWRsL']").click()


# search sunglasses

search = input("what do you want to search :- ")
search_glasses = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input[@type='text']")
search_glasses.clear()
search_glasses.send_keys(search)
time.sleep(2)


# submit button

driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/button[@class='L0Z3Pu']").click() 


brand_name_page =[]
Sunglass_title = []
sunglass_price = []
sunglass_discount = []
for i in range(4):
   
    # sunglasses brand
    try:
        brand = driver.find_elements_by_xpath('//div[@class="_2B099V"]/div[1]')
        for j in brand:
            brand_name_page.append(j.text)
        time.sleep(5)
    except:
        brand1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for k in brand1:
            brand_name_page.append(k.text)
        time.sleep(5)
        
#     description of the sunglasess 
    try:
        titles = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for title in titles:
            Sunglass_title.append(title.text)
        time.sleep(2)
    except:
        titles1 = driver.find_elements_by_class_name('IRpwTa')
        for title1 in titles1:
            Sunglass_title.append(title1.text)
        time.sleep(2)

    # price of the glass
    try:
        prices = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3']")
        for price in prices:
            sunglass_price.append(price.text)
        time.sleep(2)
    
    except:
        prices1 = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div/div[@class='_30jeq3']")
        for price1 in prices1:
            sunglass_price.append(price1.text)
        time.sleep(2)

    # discoount applied
    try:
        discounts = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div/div[@class='_3Ay6Sb']")
        for discount in discounts:
            sunglass_discount.append(discount.text)
        time.sleep(2)
    
    except:
        discounts1 = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_3Ay6Sb']")
        for discount1 in discounts1:
            sunglass_discount.append(discount1.text)
        time.sleep(2)
    
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
        
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(1)



print("brand_name_page",len(brand_name_page))
print("Sunglass_title",len(Sunglass_title))
print("sunglass_price",len(sunglass_price))
print("sunglass_discount",len(sunglass_discount))

what do you want to search :- Sunglasses
brand_name_page 120
Sunglass_title 160
sunglass_price 160
sunglass_discount 158

In [30]:
sunglass_df = pd.DataFrame({"brand_name_page":brand_name_page[:100],"Sunglass_title":Sunglass_title[:100],"sunglass_price":sunglass_price[:100],"sunglass_discount":sunglass_discount[:100]})
sunglass_df.head()

,brand_name_page,Sunglass_title,sunglass_price,sunglass_discount
0,hipe,UV Protection Rectangular Sunglasses (Free Size),₹570,28% off
1,DEIXELS,UV Protection Retro Square Sunglasses (Free Size),₹499,77% off
2,AISLIN,UV Protection Aviator Sunglasses (58),₹215,72% off
3,Singco India,UV Protection Aviator Sunglasses (Free Size),₹349,78% off
4,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),₹259,82% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [20]:
# calling chrome browser

driver = webdriver.Chrome("chromedriver.exe")
url =  "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART" #url of the site
driver.get(url) # opening URL
driver.maximize_window()


ratings = []
comments = []
desc = []
for i in range(12):
    
    # rating which is given by the customer
    try:
        rating = driver.find_elements_by_xpath("//div[@class='col _2wzgFH K0kLPL']/div/div[@class='_3LWZlK _1BLPMq']")
        for j in rating:
            ratings.append(j.text)
        time.sleep(3)
    except:
        rating1 = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
        for k in rating1:
            ratings.append(k.text)
        time.sleep(3)
    # comment given by customer 
    
    try:
        comment = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
        for l in comment:
            comments.append(l.text)

    except:
        comment1 = driver.find_elements_by_xpath("//div[@class='row']/p[@class='_2-N8zT']")
        for m in comment1:
            comments.append(m.text)
        time.sleep(3)
    
    # comment description
    
    try:
        comm_desc = driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div/div")
        for comm in comm_desc:
            desc.append(comm.text)
        time.sleep(3)
    except:
        comm_desc = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
        for comm in comm_desc:
            desc.append(comm.text)
        time.sleep(3)
    
#     Clicking on next button
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
        
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(1)
    
        
print("ratings",len(ratings))
print("Comment",len(comments))
print("desc",len(desc))

ratings 118
Comment 120
desc 120

In [23]:
iphone_df = pd.DataFrame({"ratings":ratings[:100],"comments":comments[:100],"desc":desc[:100]})
iphone_df

,ratings,comments,desc
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,4,Good choice,So far it’s been an AMAZING experience coming ...
...,...,...,...
95,3,Awesome,The phone is completely good\nAs far as camera...
96,5,Decent product,Everything u ll like it when u use this iPhone...
97,5,Super!,It's a great phone. From camera to display eve...
98,5,Awesome,Can’t beat the software and hardware integrati...
99,5,Classy product,We are on apple ecosystem for almost eight yea...

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [32]:
# calling chrome browser

driver = webdriver.Chrome("chromedriver.exe")
url =  "https://www.flipkart.com/" #url of the site
driver.get(url) # opening URL
driver.maximize_window()

user_name = driver.find_element_by_xpath("//div [@class='IiD88i _351hSN']/input[@type ='text']")
user_name.send_keys(9727047686)


password = driver.find_element_by_xpath("//div[@class='IiD88i _351hSN']/input[@type='password']")
password.send_keys("1234@1234")


driver.find_element_by_xpath("//div[@class='_1D1L_j']/button[@class='_2KpZ6l _2HKlqd _3AWRsL']").click()


# search sunglasses

search = input("what do you want to search :- ")
search_glasses = driver.find_element_by_xpath("//div[@class='_3OO5Xc']/input[@type='text']")
search_glasses.clear()
search_glasses.send_keys(search)
time.sleep(2)


# submit button

driver.find_element_by_xpath("//div[@class='col-12-12 _2oO9oE']/button[@class='L0Z3Pu']").click() 


shoes_brand_name =[]
shoes_desc = []
shoes_price = []
shoes_discount = []
for i in range(4):
   
    # sunglasses brand
    try:
        brand = driver.find_elements_by_xpath('//div[@class="_2B099V"]/div[1]')
        for j in brand:
            shoes_brand_name.append(j.text)
        time.sleep(5)
    except:
        brand1 = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        for k in brand1:
            shoes_brand_name.append(k.text)
        time.sleep(5)
        
#     description of the sunglasess 
    try:
        description = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
        for title in description:
            shoes_desc.append(title.text)
        time.sleep(2)
    except:
        description1 = driver.find_elements_by_class_name('IRpwTa')
        for title1 in description1:
            shoes_desc.append(title1.text)
        time.sleep(2)

    # price of the glass
    try:
        prices = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_30jeq3']")
        for price in prices:
            shoes_price.append(price.text)
        time.sleep(2)
    
    except:
        prices1 = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div/div[@class='_30jeq3']")
        for price1 in prices1:
            shoes_price.append(price1.text)
        time.sleep(2)

    # discoount applied
    try:
        discounts = driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div/div[@class='_3Ay6Sb']")
        for discount in discounts:
            shoes_discount.append(discount.text)
        time.sleep(2)
    
    except:
        discounts1 = driver.find_elements_by_xpath("//div[@class='_25b18c']/div[@class='_3Ay6Sb']")
        for discount1 in discounts1:
            shoes_discount.append(discount1.text)
        time.sleep(2)
    
    try:
        driver.find_element_by_xpath("//a[@class='_1LKTO3'][2]/span").click()
        time.sleep(1)
        
    except:
        driver.find_element_by_xpath("//a[@class='_1LKTO3']").click()
        time.sleep(1)



print("shoes_brand_name",len(shoes_brand_name))
print("shoes_desc",len(shoes_desc))
print("shoes_price",len(shoes_price))
print("shoes_discount",len(shoes_discount))

what do you want to search :- sneakers
shoes_brand_name 120
shoes_desc 133
shoes_price 160
shoes_discount 158

In [35]:
shoes_df =pd.DataFrame({"shoes_brand_name":shoes_brand_name[:100],"shoes_desc":shoes_desc[:100],"shoes_price":shoes_price[:100],"shoes_discount":shoes_discount[:100]})
shoes_df.head()

,shoes_brand_name,shoes_desc,shoes_price,shoes_discount
0,D-SNEAKERZ,Sneakers For Men,₹661,55% off
1,SPARX,Sneakers For Men,₹367,63% off
2,Axter,White Sneaker For Men's/Boy's Sneakers For Men,₹349,65% off
3,zovim,Casual Sneakers Shoes For Men Sneakers For Men,₹379,62% off
4,Kraasa,Combo pack of 2 casual sneaker shoes for men S...,₹377,62% off

### Q9: Go to the link - https://www.myntra.com/shoes<br>
### Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image<br>
### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image<br>

In [88]:
# automating browser

driver = webdriver.Chrome("chromedriver.exe")
url = "https://www.myntra.com/shoes"
driver.get(url)
driver.maximize_window()

# clicking on price and color
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()
time.sleep(2)
driver.find_element_by_xpath("//*[@id='mountRoot']/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label").click()
time.sleep(2)

shoes_brand = []
shoes_desc= []
only_shoes_price =[]
for i in range(1,4):
     
    # extracting shoes brand name
    try:
        brand = driver.find_elements_by_xpath("//h3[@class='product-brand']")
        for j in brand:
            shoes_brand.append(j.text)
        time.sleep(2)
                        
    except:
        brand1 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3[@class='product-brand']")
        for k in brand1:
            shoes_brand.append(k.text)
        time.sleep(2)
    
    
    

# extracting description of the shoes that are below the brand
    try:
        desc = driver.find_elements_by_xpath("//h4[@class='product-product']")
        for l in desc:
            shoes_desc.append(i.text)
        time.sleep(2)
    except:
        desc1 = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[@class='product-product']")
        for m in desc1:
            shoes_desc.append(m.text)
        time.sleep(2)
        
      #extracting shoes price 
    
    try:
        price  = driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")
        shoes_price = [pri.text.split() for pri in price]
        for n in shoes_price:
            only_shoes_price.append(n[1])
            
    except:
        price1  = driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/div[@class='product-price']/span[1]")
        shoes_price1 = [pri.text.split() for pri in price1]
        for o in shoes_price1:
            only_shoes_price.append(o[1])
    
        
    
    time.sleep(3)    
    driver.find_element_by_xpath("//li[@class='pagination-next']").click()
    
print("shoes_brand",len(shoes_brand))
print("shoes_desc",len(shoes_desc))
print("only_shoes_price",len(only_shoes_price))

shoes_brand 166
shoes_desc 150
only_shoes_price 150

In [ ]:
Myntra_shoes = pd.DataFrame({"shoes_brand":shoes_brand[:100],"only_shoes_price":only_shoes_price[:100],"shoes_desc":shoes_desc[:100]})
Myntra_shoes

### Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes 
for each laptop:
1. title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes

## Extract i7 process laptop information

In [22]:
# Automate browser

driver = webdriver.Chrome("chromedriver.exe")
url = "https://www.amazon.in/"

# opening site
driver.get(url)

# maximize the window
driver.maximize_window()

# Search items

user_input = input("define your search:-  ") # user input for searching item
search_bar = driver.find_element_by_id("twotabsearchtextbox") #automate the brower
# search_bar.clear() #clear the brower if any thing written 
search_bar.send_keys(user_input) #send input to browser
time.sleep(3)

# click on search button
submit = driver.find_element_by_id("nav-search-submit-button")
submit.click()
time.sleep(1)

# logic for clicking on i9 product
for i in driver.find_elements_by_xpath("//span[@class ='a-size-base a-color-base']"):
    if i.text == "Intel Core i7":
        i.click()
        break
    time.sleep(1)
        
# scrapping the title of laptop but before that we will take the url of each laptop for extracting the info

# extracting URLs
url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
urls =[]
for i in url:
    urls.append(i.get_attribute("href"))

    
# creating empty list    
laptop_title = []
laptop_price = []
laptop_rating = []
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    # extracting laptop description
    desc = driver.find_elements_by_xpath("//h1[@class='a-size-large a-spacing-none']")
    for j in desc:
        laptop_title.append(j.text) 
    time.sleep(2)
    
    # extracting laptop rating
    rating = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
    for k in rating:
        laptop_rating.append(k.text)
    time.sleep(2)
    
    # extracting laptop price
    try:
        price = driver.find_elements_by_xpath("//td[@class='a-span12']/span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        for l in price:
            laptop_price.append(l.text)
        time.sleep(2)
    except:
        price1 = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        for m in price1:
            laptop_price.append(m.text)
        time.sleep(2)
    
print("laptop_title",len(laptop_title))
print("laptop_rating",len(laptop_rating))
print("laptop_price",len(laptop_price))

define your search:-  Laptops
laptop_title 30
laptop_rating 24
laptop_price 26

## extract i9 process laptop information

In [39]:
# Automate browser

driver = webdriver.Chrome("chromedriver.exe")
url = "https://www.amazon.in/"

# opening site
driver.get(url)

# maximize the window
driver.maximize_window()

# Search items

user_input = input("define your search:-  ") # user input for searching item
search_bar = driver.find_element_by_id("twotabsearchtextbox") #automate the brower
# search_bar.clear() #clear the brower if any thing written 
search_bar.send_keys(user_input) #send input to browser
time.sleep(3)

# click on search button
submit = driver.find_element_by_id("nav-search-submit-button")
submit.click()
time.sleep(1)

# logic for clicking on i9 product
for i in driver.find_elements_by_xpath("//span[@class ='a-size-base a-color-base']"):
    if i.text == "Intel Core i9":
        i.click()
        break
    time.sleep(1)
        
# scrapping the title of laptop but before that we will take the url of each laptop for extracting the info

# extracting URLs
url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
urls =[]
for i in url:
    urls.append(i.get_attribute("href"))

    
# creating empty list    
laptop_title_i9 = []
laptop_price_i9 = []
laptop_rating_i9 = []
for i in urls:
    driver.get(i)
    time.sleep(2)
    
    # extracting laptop description
    desc = driver.find_elements_by_xpath("//h1[@class='a-size-large a-spacing-none']")
    for j in desc:
        laptop_title_i9.append(j.text) 
    time.sleep(2)
    
    # extracting laptop rating
    rating = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base']")
    for k in rating:
        laptop_rating_i9.append(k.text)
    time.sleep(2)
    
    # extracting laptop price
    try:
        price = driver.find_elements_by_xpath("//td[@class='a-span12']/span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        for l in price:
            laptop_price_i9.append(l.text)
        time.sleep(2)
    except:
        price1 = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
        for m in price1:
            laptop_price_i9.append(m.text)
        time.sleep(2)
print("laptop_title_i9",len(laptop_title_i9))
print("laptop_rating_i9",len(laptop_rating_i9))
print("laptop_price_i9",len(laptop_price_i9))

define your search:-  Laptops
laptop_title_i9 9
laptop_rating_i9 7
laptop_price_i9 8

In [42]:
i9_df  = pd.DataFrame({"laptop_title_i9":laptop_title_i9[:7],"laptop_rating_i9":laptop_rating_i9[:7],"laptop_price_i9":laptop_price_i9[:7]})
i9_df

,laptop_title_i9,laptop_rating_i9,laptop_price_i9
0,Lenovo Legion 7 10th Gen Intel Core i9 15.6 in...,3.7 out of 5,"₹ 2,62,990.00"
1,"ASUS ROG Zephyrus Duo 15, 15.6"" FHD 300Hz/3ms,...",4.2 out of 5,"₹ 2,66,990.00"
2,"Apple MacBook Pro (16-inch, 16GB RAM, 1TB Stor...",3.8 out of 5,"₹ 2,24,990.00"
3,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,2.4 out of 5,"₹ 2,99,325.00"
4,Dell XPS 9570 15.6-inch UHD Laptop (8th Gen i9...,4.8 out of 5,"₹ 2,51,526.00"
5,"ASUS ROG Strix Scar 17 (2020), 17.3"" FHD 300Hz...",3.4 out of 5,"₹ 2,77,490.00"
6,(Renewed) Dell XPS 9570 Laptop|i9-8950HK|32GB ...,5 out of 5,"₹ 2,00,690.00"